<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %}" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          
  <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/921482977d.js" crossorigin="anonymous"></script>
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static '/img/i.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#">Promise Nyamela</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.hackerrank.com/profile/mpnyamela" class="github" target="_blank"><i class="fa-brands fa-hackerrank"></i></a> 
          <a href="https://github.com/makhosandile" class="github" target="_blank"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/promise-nyamela-033585156/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
          <a href="https://wa.me/+27761460781" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Home</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= 
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Alex Smith</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
    </div>
  </section> End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>

        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static '/img/s.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software Support Engineer | QA Engineer</h3>

            <p class="fst-italic mb-2">
              I'm a versatile and self-motivated professional with expertise in Python, Java, 
              and C#. 

            </p>
            <p class="fst-italic mb-2">
              I have more than six years experience in software development working as a 
              Developer and Software support engineer, which involved Quality assurance and 
              automation, and Data analytics and visualization.
            </p>
            <p class="fst-italic mb-2">
              My strength lies in bridging technical complexity with customer satisfaction. I
               adapt well to changing environments, stay updated with industry trends, and enjoy collaborating with teams. I'm eager to contribute my skills and knowledge to exciting projects and where I can grow.

            
            </p>

          
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>
        <div class="row">
          <div class="social-links mt-3">
            
            <i class="devicon-python-plain-wordmark colored" style="font-size: 70px; margin-right: 20px;"></i>
            <i class="devicon-java-plain-wordmark colored" style="font-size: 70px; margin-right: 20px;"></i>
            <i class="devicon-javascript-plain colored" style="font-size: 70px; margin-right: 20px;"></i>
            <i class="devicon-angularjs-plain-wordmark colored" style="font-size: 70px; margin-right: 20px;"></i>
            <i class="devicon-django-plain-wordmark colored" style="font-size: 70px; margin-right: 20px;"></i>
            <i class="devicon-spring-plain-wordmark colored" style="font-size: 70px; margin-right: 20px;"></i>  
            <i class="devicon-flask-original-wordmark" style="font-size: 70px; margin-right: 20px;"></i>
            <i class="devicon-docker-plain-wordmark colored" style="font-size: 70px; margin-right: 20px;"></i>
            <i class="devicon-selenium-original colored" style="font-size: 70px; margin-right: 20px;"></i>
            <i class="devicon-bootstrap-plain-wordmark colored" style="font-size: 70px; margin-right: 20px;"></i>  <br><br><br>
            <i class="devicon-postgresql-plain-wordmark colored " style="font-size: 70px; margin-right: 20px;"></i> 
          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Matric Certificate(Gade 12)</h4>
              <h5>2003 - 2005</h5>
              <p><em>Zwelitsha Senior Secondary School</em></p>
              <li>isiXhosa</li>
              <li>English</li>
              <li>Mathematics</li>
              <li>Physical Science</li>
              <li>Biology</li>
              <li>Agricultural Science</li>
            </div>
            <div class="resume-item">
              <h4>Software Development Micro- Degree</h4>
              <h5>06/2016 - 12/2016</h5>
              <p>
                <em>Hyperion Dev.</em>
              </p>
              <li>Java</li>
              <li>Python</li>
              <li>C#</li>
              </ul>
            </div>


          <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Customer Services Consultant</h4>
              <h5>October 2009 - September 2011</h5>
              <p><em>D&G Communications</em></p>
              <ul>
                <li>Typing, operating public phones, printers, faxes</li>
                <li>Admin duties</li>
                <li>
                  I later learned troubleshooting and repair computer hardware 
                  and Software and proposed we add computer repairs and software installations to our services
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Customer Services Technician</h4>
              <h5>September 2011 - October 2014</h5>
              <p><em>Hifi Corp.</em></p>
              <ul>
                <li>General assistance of customers with their grievances and general enquiries </li>
                <li>Troubleshooting of Computers and all other returned units from customers</li>
                <li>General testing of units for the customer satisfaction and convenience</li>
                <li>Computer software installations </li>
                <li>General customer services admin work</li>
              </ul>
            </div>
            <div class="resume-item">
            <h4>Self Employed</h4>
              <h5>December 2016 - September 2017</h5>
              <ul>
                <li>Troubleshooting and repairing Laptops and Desktop Computers </li>
                <li>Software troubleshooting and installations</li>
                <li>Buy broken Desktop and laptops, repair/ refurbish and reselling</li>
            </div>
            
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

           
            <div class="resume-item">
              <h4>Intern Web Developer</h4>
              <h5>December 2016 - September 2017</h5>
              <p><em>Independent Media</em></p>
              <p>
                Developing and writing scripts using the following tech stack:
              </p>
              <ul>
                <li>WordPress, JavaScript, Angular, PHP</li>
              </ul>
            </div>
            
            <div class="resume-item">
              <h4>Junior Java developer</h4>
              <h5>October 2017 - January 2018</h5>
              <p><em>Reverside</em></p>
              <ul>
              <li>Collaborate with senior Java developers to understand project requirements and specifications.</li>
              <li>Participate in the design and implementation of Java applications, adhering to best coding practices.</li>
              <li>Assist in writing efficient and maintainable code for software functionality.</li>
              <li>Support the testing and debugging processes to identify and resolve issues.</li>
              <li>Document the development process, code changes, and application functionalities.</li>
              <li>Stay up-to-date with the latest Java technologies and trends.</li>
              <li>Contribute ideas and solutions to improve the overall development process</li>

            </ul>
            </div>
            <div class="resume-item">
              <h4>Software Support Specialist</h4>
              <h5>January 2018 - March 2023</h5>
              <p><em>M4JAM</em></p>
              <ul>
                <li>Coordinating efforts with business analysts, software engineers, customer support agents and other   teams to identify and resolve issues effectively.</li>
                <li>Documenting and tracking issues in software and hardware operation for internal and consumer-facing systems. Providing content for tutorials, training, and documentation. </li>
                <li>Plan, implement and test software throughout the software development lifecycle.</li>
                <li>Create and update automated test scripts and frameworks</li>
                <li>Detecting and troubleshooting software defects, working closely with developers.</li>
                <li>Ensure regular test execution and prompt reporting</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
      </div>
      <div class="credits">
        <p>mpnyamela@gmail.com</p>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static '/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static '/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>

</body>

</html>